<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yousong.yousong"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ccftNCctquMvVK8bnvxyi7Wlz69rsZ1d">
        </meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".activity.common.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.common.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.ads.AdsDetailActivity"/>
        <activity android:name=".activity.ads.ShareFriendActivity"/>
        <activity
            android:name=".activity.user.WithdrawActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".activity.ads.MyAdsActivity"/>
        <activity
            android:name=".activity.user.PersonalAuthenticationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.ads.CreateAdsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.user.RechargeActivity"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"/>
        <activity android:name=".activity.user.LoginActivity"/>
        <activity
            android:name=".activity.user.CompanyCertificationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"/>
        <activity android:name=".activity.ads.MyAdsDetailActivity"/>
        <activity android:name=".activity.ads.AdsPayActivity"/>
        <activity android:name=".activity.ads.AdsPaySuccessActivity"/>
    </application>

</manifest>